# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
config/credentials/*.yml.enc diff=rails_credentials
config/credentials.yml.enc diff=rails_credentials

# すべてのテキストファイルをLFで管理・チェックアウト
* text=auto eol=lf

# バイナリは改行変換しない（任意）
*.png binary
*.jpg binary
*.gif binary
*.pdf binary
