<%# このパーシャルは、渡された`model`オブジェクトにエラーがある場合のみ表示されます %>
<% if model.errors.any? %>
  <div class='error-alert'>
    <ul>
      <%# エラーメッセージを一つずつ取り出して、liタグとして表示します %>
      <% model.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

