<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIMAについて</h2>
      <ul>
        <li><a class="footer-link" href="#">会社概要（運営会社)</a></li>
        <li><a class="footer-link" href="#">プライバシーポリシー</a></li>
        <li><a class="footer-link" href="#">FURIMA利用規約</a></li>
        <li><a class="footer-link" href="#">ポイントに関する特約</a></li>
      </ul>
    </div>

    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIMAを見る</h2>
      <ul>
        <li><a class="footer-link" href="#">カテゴリー一覧</a></li>
        <li><a class="footer-link" href="#">ブランド一覧</a></li>
      </ul>
    </div>

    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIMAについて</h2>
      <ul>
        <li><a class="footer-link" href="#">FURIMAガイド</a></li>
        <li><a class="footer-link" href="#">FURIMAロゴ利用ガイドライン</a></li>
        <li><a class="footer-link" href="#">お知らせ</a></li>
      </ul>
    </div>
  </div>

  <%= link_to root_path do %>
    <%= image_tag "furima-logo-white.png", class: "logo-white" %>
  <% end %>
  <p>© FURIMA</p>
</div>
